<h1>Stocks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.name %></td>
        <td><%= stock.quantity %></td>
        <td><%= stock.price %></td>
        <td><%= link_to 'Sell', new_sale_path(stock_id: stock.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Item', new_stock_path %>
