<h1>New Stock</h1>

<%= form_with model: @stock, url: stocks_path do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :quantity %>
  <%= form.number_field :quantity %>

  <%= form.label :price %>
  <%= form.number_field :price, step: 0.01 %>

  <%= form.submit %>
<% end %>

<%= link_to 'Back', stocks_path %>
