<div class="container mx-auto p-6">
  <h1 class="text-3xl font-bold mb-6">Monthly Profit or Loss</h1>

  <%= form_tag reports_monthly_profit_or_loss_path, method: :get, class: "flex mb-6" do %>
    <div class="mr-4 flex-grow-0" style="width: 20%;">
      <%= select_tag :year, options_for_select((2010..Time.current.year).to_a.reverse, @year.to_i), class: "form-select w-full rounded-lg" %>
    </div>

    <%= submit_tag 'Filter', class: "flex-grow-0 bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  <% end %>

  <table class="w-full border-collapse">
    <thead>
      <tr>
        <th class="py-2 px-4 bg-gray-200 text-left">Month</th>
        <th class="py-2 px-4 bg-gray-200 text-left">Total</th>
        <th class="py-2 px-4 bg-gray-200 text-left">Taxa</th>
      </tr>
    </thead>
    <tbody>
      <% @profit_or_loss_by_month.each do |result| %>
        <tr>
          <td
            class="py-2 px-4 border-b">
            <%= Date::MONTHNAMES[result.month.to_i] %>
          </td>
          <td
            class="py-2 px-4 border-b <%= result.total&.positive? ? 'text-green-500' : 'text-red-500' %>"
          >
            <%= number_to_currency(result.total, unit: 'R$', format: '%u %n') %>
          </td>
          <td
            class="py-2 px-4 border-b <%= result.percentage&.positive? ? 'text-green-500' : 'text-red-500' %>"
          >
            <%= result.percentage %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
